{% extends 'base.html' %}
{% block title %}Início{% endblock %}
{% block content %}

    <div class="mt-2">
        <div class='row col-12 mb-4'>
          <div class='col-12'>
            <h5><strong style="color: #022f32">Visão Geral</strong></h5>
          </div>
        </div>
        <div class="c-grafico d-flex align-items-center container-fluid justify-content-center mb-5">
          <div class="row col-12">
            <div class="col-6">
              <h6 class="text-center"><strong style="color: #022f32">Casos por Bairro</strong></h6>
              <div class="m-auto d-flex align-items-center justify-content-around" id="gp1">


                <canvas class="" id="myChart1" style="width: 100%; max-width: 500px"></canvas>

                <script>
                  var xValues = [
                    "Bairro A", "Bairro B", "Bairro C", "Bairro D", "Bairro E"
                  ];
                  var yValues = [32, 22, 18, 16, 12];
                  var barColors = [
                    "#022F32",
                    "#02565B",
                    "#0E7981",
                    "#2C9EA6",
                    "#6BBBC0",
                  ];

                  new Chart("myChart1", {
                    type: "pie",
                    data: {
                      labels: xValues,
                      datasets: [
                        {
                          backgroundColor: barColors,
                          data: yValues,
                        },
                      ],
                    },
                  });
                </script>

              </div>
            </div>
            <div class="col-6 ">
              <h6 class="text-center"><strong style="color: #022f32">Tipos de Arboviroses</strong></h6>
              <div class="m-auto d-flex align-items-center justify-content-around" id="gp2">


                <canvas class="" id="myChart2" style="width: 100%; max-width: 500px;"></canvas>

                <script>
                  var xValues = [
                    "Bairro A", "Bairro B", "Bairro C", "Bairro D", "Bairro E"
                  ];
                  var yValues = [32, 22, 18, 16, 12];
                  var barColors = [
                    "#022F32",
                    "#02565B",
                    "#0E7981",
                    "#2C9EA6",
                    "#6BBBC0",
                  ];

                  new Chart("myChart2", {
                    type: "pie",
                    data: {
                      labels: xValues,
                      datasets: [
                        {
                          backgroundColor: barColors,
                          data: yValues,
                        },
                      ],
                    },
                  });
                </script>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-borderless">
            <thead>
              <tr class="text-center">
                <th scope="col">Bairros</th>
                <th scope="col">Casos em Incidência</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>São Benedito</td>
                <td>50 casos</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}