


* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#bt1 {
    font-size: 17px;
    background-color: #14757B;
  
    color: white;
    width: 180px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #eee, #B4CFD0);
}

h1 {
  margin: 40px 0 20px;
}



   


