{% extends 'base.html' %}
{% block title %}
  Cadastrar Bairro
{% endblock %}
{% block content %}
<div class="mt-2">
    <h3 class="mb-5" style="color:#022F32;"><strong>Cadastrar Bairro</strong></h3>
    <form method="post">
        {% csrf_token %}
        <section class='container'>

            <div class="row col-12 mb-2 mt-2">
                <div class='col-12'>
                    <div class="form-group">
                        <label for="nome" class='mb-0'><strong
                                style="color: #022f32">Nome</strong></label>
                        <div class="caixa">
                            {{form.nome}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-12 mb-2 mt-2 mr-5">
                <div class='col-12 mb-0 d-flex justify-content-end '>
                    <button type="submit" class="btn" id="bt1"><strong>CADASTRAR</strong></button>
                </div>
            </div>
        </section>

    </form>
</div>
{% endblock %}