{% extends "base.html" %}

{% load i18n %}

{% block title %}
  Cadastrar Servidor
{% endblock %}
{% block content %}

<div class="mt-2">
    <h3 class="mb-5" style="color:#022F32;"><strong>Formulário de Coleta de Dados</strong></h3>
    <form class="signup" id="signup_form" method="post">
        {% csrf_token %}
        <section class='container'>
            <div class='row col-12 mb-4'>
                <div class='col-12'>
                    <h5><strong style="color: #022f32">Cadastrar novo servidor</strong></h5>
                    <hr>
                </div>
            </div>

            <div class="row mt-2 col-12 ">
                <div class='col-6'>
                    <div class="form-group">
                        <label for="nome" class='mb-0'><strong
                                style="color: #022f32">Nome de Usuário</strong></label>
                        <div class="caixa">
                            {{form.username}}

                        </div>
                    </div>
                </div>

                <div class='col-6'>
                    <div class="form-group">
                        <label for="nome" class='mb-0'><strong style="color: #022f32">Cargo</strong></label>
                        <div class="caixa">
                            {{form.cargo}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2 col-12 ">
                <div class='col-6'>
                    <div class="form-group">
                        <label for="nome" class='mb-0'><strong
                                style="color: #022f32">Senha</strong></label>
                        <div class="caixa">
                            {{form.password1}}
                        </div>
                    </div>
                </div>

                <div class='col-6'>
                    <div class="form-group">
                        <label for="nome" class='mb-0'><strong
                                style="color: #022f32">Confirmar Senha</strong></label>
                        <div class="caixa">
                            {{form.password2}}
                        </div>
                    </div>
                </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="row col-12 mb-2 mt-2 mr-5">
                <div class='col-12 mb-0 d-flex justify-content-end '>
                    <button type="submit" class="btn" id="bt1"><strong>SALVAR</strong></button>
                </div>
            </div>
        </section>

    </form>
</div>
{% endblock %}