{% extends 'base.html' %}
{% block title %}Perfil{% endblock %}
{% block content %}


<div class="mt-2">
    <div class="d-flex justify-content-between align-items-center">
        <div class="mt-2">
            <h3 class="" style="color:#022F32;"><strong>{{ logged_user.name }} ({{logged_user.cpf}})</strong></h3>
            <p><strong>{{ logged_user.cargo }}</strong></p>
        </div>


        <div>
            <a href="{% url 'users_update' %}" class="btn" id="bt1"><strong>Editar</strong></a>
        </div>


    </div>

    <div class='row col-12 mb-4'>
        <div class='col-12'>
            <h5><strong style="color: #022f32">Dados Gerais</strong></h5>
        </div>
    </div>

    <div class="row col-12 d-flex justify-content-center align-items-center mb-4">
        <div class="col-4">
            <div class="circle2">
                <img class="img img-fluid" src="{{ logged_user.foto_perfil.url }}">
            </div>
        </div>
        <div class="col-8 ">
            <div class="row col-12 mb-5">
                <div class="col-6 m-auto">
                    <div><strong style="color: #022f32">Nome:</strong>
                        <p class="">{{ logged_user.name }}
                        </p>
                        <hr style="color: #022f32; font-size: 40px;">
                    </div>
                </div>
                <div class="col-6">

                    <div><strong style="color: #022f32">CPF:</strong>
                        <p class="">{{ logged_user.cpf }}
                        </p>
                        <hr style="color: #022f32; font-size: 40px;">
                    </div>
                </div>
            </div>

            <div class="row col-12">
                <div class="col-6">
                    <div><strong style="color: #022f32">Telefone:</strong>
                        <p class="">{{ logged_user.telefone }}
                        </p>
                        <hr style="color: #022f32; font-size: 40px;">
                    </div>
                </div>
                <div class="col-6">

                    <div><strong style="color: #022f32">Email:</strong>
                        <p class="">{{ logged_user.email }}
                        </p>
                        <hr style="color: #022f32; font-size: 40px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='row col-12 mb-4'>
        <div class='col-12'>
            <h5><strong style="color: #022f32">Endereço</strong></h5>
        </div>
    </div>

    <div class="row col-12 d-flex justify-content-between mb-4 ml-3">
        <div class="row col-12">
            <div class="col-6">
                <div><strong style="color: #022f32">CEP:</strong>
                    <p class="">{{ logged_user.cep }}
                    </p>
                    <hr style="color: #022f32; font-size: 40px;">
                </div>
            </div>

            <div class="col-6">
                <div><strong style="color: #022f32">Logradouro:</strong>
                    <p class="">{{ logged_user.logradouro }}
                    </p>
                    <hr style="color: #022f32; font-size: 40px;">
                </div>
            </div>
        </div>

        <div class="row col-12">
            <div class="col-6">
                <div><strong style="color: #022f32">Número:</strong>
                    <p class="">{{ logged_user.numero }}
                    </p>
                    <hr style="color: #022f32; font-size: 40px;">
                </div>
            </div>

            <div class="col-6">
                <div><strong style="color: #022f32">Complemento:</strong>
                    <p class="">{{ logged_user.complemento }}
                    </p>
                    <hr style="color: #022f32; font-size: 40px;">
                </div>
            </div>
        </div>

        <div class="row col-12">
            <div class="col-6">
                <div><strong style="color: #022f32">Bairro:</strong>
                    <p class="">{{ logged_user.bairro }}
                    </p>
                    <hr style="color: #022f32; font-size: 40px;">
                </div>
            </div>

            <div class="col-6">
                <div><strong style="color: #022f32">Cidade:</strong>
                    <p class="">{{ logged_user.cidade }}
                    </p>
                    <hr style="color: #022f32; font-size: 40px;">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center mb-2">
        <div>
            <a href="form_imovel.html" class="btn" id="bt1"><strong>ALTERAR SENHA</strong></a>
            <a href="{% url 'logout' %}" class="btn" id="bt1"><strong>SAIR</strong></a>
        </div>
    </div>
</div>

{% endblock %}